$body-bg: whitesmoke;
$main-bg:#fff;
$border-color:black;
$shadow-color:rgb(136, 135, 135, 0.5);
$header-color:#226699;
$link-color:#226699;
$link-hover:rgb(235, 186, 96);
$remove-button:orangered;
$font-color:black;
$inverse-font-color:white;
$go-button:limegreen;